.signInFormText {
  font-size: 18px !important;
  margin: 10px;
  font-weight: 900 !important;
}

.signInFormLink {
  text-shadow: 0px 0px 5px black;
  color: aqua;
  margin: 0 5px;
}

.signInFormLink:hover {
  color: #64dfdf;
  transition: color 250ms;
}

.signUpLinkContainer {
  justify-content: center;
}

.signUpFormContainer {
  background-color: #ffffffde;
  border-radius: 50px !important;
  box-shadow: 0 0 10px 5px black !important;
  padding: 40px !important;
  margin: 30px auto;
}

.singUpAlert {
  margin-bottom: 20px;
}

.signUpHeader {
  color: black;
  font-weight: 700 !important;
}

.formSignUpButton {
  background-color: black !important;
  box-shadow: 0 0 5px 1px black !important;
  font-weight: bold !important;
  padding: 10px !important;
}

.formSignUpButton:hover {
  background-color: #343a40 !important;
}

.css-yk16xz-control {
  background-color: #ffffff00 !important;
}

@media (max-width: 460px) {
  .signInFormText {
    font-size: 14px !important;
  }
}

@media (max-width: 400px) {
  .signInFormText {
    font-size: 10px !important;
  }
}
