.signUpFormText {
  font-size: 16px !important;
  margin: 10px;
  font-weight: 900 !important;
}

.signUpFormLink {
  text-shadow: 0px 0px 5px black;
  color: aqua;
  margin: 0 5px;
}

.signUpFormLink:hover {
  color: #64dfdf;
  transition: color 250ms;
}

.signUpLinkContainer {
  justify-content: center;
}

.signInMainContainer {
  display: flex !important;
  align-items: center !important;
  justify-content: center;
  height: 94.1vh;
}

.signInFormContainer {
  background-color: #ffffffde;
  border-radius: 50px !important;
  box-shadow: 0 0 10px 5px black !important;
  padding: 40px !important;
}

.singInAlert {
  margin-bottom: 20px;
}

.signInHeader {
  color: black;
  font-weight: 700 !important;
}

.formSignInButton {
  background-color: black !important;
  box-shadow: 0 0 5px 1px black !important;
  font-weight: bold !important;
  padding: 10px !important;
}

.formSignInButton:hover {
  background-color: #343a40 !important;
}

@media (max-width: 450px) {
  .signUpFormText {
    font-size: 10px !important;
  }
}
