.homePageDiv {
  height: 94.1vh;
}

.wrapperImage {
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 0;
  box-shadow: 0 0 20px 5px black !important;
}

.homePageLogo {
  width: 400px;
}

.homePageIntroContainer {
  justify-content: center !important;
  margin-bottom: 10vh !important;
}

.homePageIntroBox {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  background-color: #ffffffab;
  color: #250902;
  box-shadow: 0 0 10px 5px black !important;
  padding: 30px;
}

.homePageImg img {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 5px black !important;
}

.homePageLine {
  width: 100%;
  margin: 40px 0;
  box-shadow: 0 0 20px 5px black !important;
}

.signInLink {
  text-decoration: none;
}

.signInButton {
  border-color: black !important;
  color: black !important;
  border-width: 3px !important;
  margin: 0 10px !important;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.473) !important;
}

.signInButton:hover {
  background-color: black !important;
  color: azure !important;
}

.signInButton span {
  font-size: 20px;
  font-weight: 800 !important;
}

.signUpText {
  font-size: 22px !important;
  margin: 10px;
  font-weight: 900 !important;
}

.signUpLink {
  text-shadow: 0px 0px 5px black;
  color: aqua;
}

.signUpLink:hover {
  color: #64dfdf;
  transition: color 250ms;
}

@media (max-width: 620px) {
  .signUpText {
    font-size: 18px !important;
  }
  .homePageIntroBox {
    border-radius: 50px 50px 0 0;
  }

  .homePageImg img {
    border-radius: 0 0 50px 50px;
  }

  .homePageLogo {
    width: 300px;
  }
}

@media (min-width: 600px) {
  .homePageIntroBox {
    border-radius: 50px 50px 0 0;
  }

  .homePageImg img {
    border-radius: 0 0 50px 50px;
  }
}

@media (min-width: 960px) {
  .homePageIntroBox {
    border-radius: 50px 50px 0 0;
  }

  .homePageImg img {
    border-radius: 0 0 50px 50px;
  }
}

@media (min-width: 1280px) {
  .homePageIntroBox {
    border-radius: 50px 0 0 50px;
  }

  .homePageImg img {
    border-radius: 0 50px 50px 0;
  }

  .homePageLogo {
    width: 500px;
  }
}
