.homePageDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homePageImg {
  margin-top: 20vh;
  margin-left: 10vw;
  margin-right: 10vw;
  width: 45vh;
}

.homePageText {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  padding: 10%;
  border: 10px solid black;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.homePageButtons {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
