.welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 2rem;
}

.data {
  display: flex;
  flex-flow: row wrap;

  justify-content: center;
  align-items: center;
}

.gridItem {
  justify-content: center;
  align-items: center;
}

.gridItemTwo {
  justify-content: center;
  align-items: center;
}

.dataArticles {
  display: flex;
  flex-flow: row wrap;

  justify-content: center;
  align-items: center;
}
