.profile {
  padding: 30px;
}
.welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 2rem;
  color: black;
  text-shadow: 5px 5px 10px black;
  font-family: "Times New Roman", Times, serif;
}

h3 {
  color: black;
  font-family: "Times New Roman", Times, serif;
}

.dataCards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.gridItem {
  justify-content: center;
  align-items: center;
}

.gridItemTwo {
  justify-content: center;
  align-items: center;
}

.dataArticles {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
