.editProfileContainer {
  margin-top: 30px;
}

.editProfileHeader {
  display: flex;
  justify-content: center;
  color: #1d3557;
  text-shadow: 0px 0px 2px black;
  font-weight: bold !important;
}

.profileInfoHeaders {
  color: black;
}

.profileInfoImage {
  border-radius: 50%;
  margin-bottom: 20px;
  width: 50% !important;
}

.firstGridOfUserInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.accountTitles {
  margin: 0;
}

.profileInfoInterests {
  margin: 10px !important;
}

.profileInfoFollowings {
  margin: 10px !important;
}

.userInfoCardWrapper {
  height: 50%;
  text-align: center;
  margin-bottom: 40px;
  padding: 40px;
  background-color: #ffffff91 !important;
  border-radius: 50px !important;
  box-shadow: 0 0 10px 5px black !important;
}

.showEditProfileButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.showEditFormButton {
  background-color: black !important;
  box-shadow: 0 0 5px 1px black !important;
  font-weight: bold !important;
  padding: 10px !important;
  margin-top: 20px !important;
  transition: all 0.05s ease-in-out;
}

.showEditFormButton:hover {
  transform: scale(1.1);
  background-color: #36393b !important;
}

.editProfileFormContainer {
  background-color: #ffffff91 !important;
  border-radius: 50px !important;
  box-shadow: 0 0 10px 5px black !important;
  padding: 10px 40px !important;
}

.editFormEditButton {
  background-color: black !important;
  box-shadow: 0 0 5px 1px black !important;
  font-weight: bold !important;
  padding: 10px !important;
}

.editFormEditButton:hover {
  background-color: #343a40 !important;
}

.editFormDeleteButton {
  background-color: red !important;
  box-shadow: 0 0 5px 1px black !important;
  font-weight: bold !important;
  padding: 10px !important;
}

.editFormDeleteButton:hover {
  background-color: rgb(255, 95, 95) !important;
}

.editFormDeleteButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bigWrapperCommentArticles {
  margin-top: 50px;
  margin-bottom: 30px;
}

.wrapperCommentsArticles {
  text-align: center;
  background-color: #ffffff91 !important;
  border-radius: 50px !important;
  box-shadow: 0 0 10px 5px black !important;
  padding: 10px 40px !important;
}

.commentsWrapperTwo {
  display: flex;
  flex-direction: column;
  align-items: center !important;
}

.commentsWrapperTwo .MuiGrid-container {
  justify-content: center !important;
  align-items: center !important;
}

.myArticleBox .MuiGrid-container {
  justify-content: center !important;
  align-items: center !important;
}

.userInfo {
  display: flex !important;

  align-items: center !important;
  justify-content: center !important;
}

.editDeleteArticlesComments {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px #241919 !important;
  border-radius: 25px !important;
  padding: 10px;
  background-color: white;
  margin: 10px;
}

.articleEditButton {
  text-decoration: none;
}

.articleCommentDeleteIcon {
  color: red !important;
}

.articleEditIcon {
  color: orange !important;
}
