.bigWrapper {
  justify-content: center !important;
  align-items: center !important;
  display: flex;
  margin-bottom: 40px;
}

.wrapperCommentsArticles {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  margin-top: 20px;
  text-align: center;
  box-shadow: 0 0 40px #241919 !important;
  padding: 30px;
  border-radius: 25px !important;
  width: 70% !important;
  background-color: #dbdbdb;
  margin-top: 50px;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.commentsWrapperTwo {
  align-items: center;
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  height: 350px;
  /* border: 2px solid black; */
}
.comments {
  width: 200px;
  padding: 20px;
}

.myArticlesBox {
  justify-content: center;
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 50%;
  text-align: center;
  padding: 10px;
  box-shadow: 0 0 40px #241919 !important;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 25px !important;
}

.editProfileButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.editButton {
  margin-top: 20px !important;
  transition: all 0.2s ease-in-out;
}

.editButton:hover {
  transform: scale(1.1);
  background-color: rgb(121, 121, 121);
}
.userInfoCardWrapper {
  width: 80%;
  height: 50%;
  text-align: center;
  box-shadow: 0 0 40px #241919 !important;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 25px !important;
  margin-top: 20px;
  display: flex !important;
  align-items: center;
  justify-content: space-evenly !important;
  flex-direction: row !important;
  background-color: #7d7d7d !important;
}

.editProfileForm {
  background-color: white;
  border-radius: 25px !important;
  box-shadow: 0 0 40px #241919 !important;
}

.userInfo {
  display: flex !important;

  align-items: center !important;
  justify-content: center !important;
}

.firstGridOfUserInfo {
  background-color: #7d7d7d;
  padding: 10px;
  width: 80%;
  margin-right: 10px;
  border-radius: 25px !important;
  color: white;
}

.secondGridOfUserInfo {
  background-color: #7d7d7d;
  color: white;
  padding: 10px;
  width: 80%;
  height: 100%;
  border-radius: 25px !important;
}

.myArticleBox {
  width: 30%;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 350px;
}

.editDeleteComments {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  box-shadow: 0 0 10px #241919 !important;
  border-radius: 25px !important;
  padding: 10px;
  background-color: white;
}

.editDeleteArticles {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px #241919 !important;
  border-radius: 25px !important;
  margin: 10px;
  padding: 10px;
  background-color: white;
}
