.bigWrapper {
}

.wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 20px;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.commentsWrapperTwo {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 345px;
  /* border: 2px solid black; */
  margin-bottom: 10px;
}
.comments {
  width: 200px;
  padding: 20px;
}

.articles {
  justify-content: center;
  align-items: center;
  background-color: white;
  display: flex;
  height: 345px;

  flex-direction: column;
  width: 60%;
  /* border: 2px solid black; */
}

.editProfileButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.editButton {
  margin: 20px !important;
  transition: all 0.2s ease-in-out;
}

.editButton:hover {
  transform: scale(1.1);
  background-color: rgb(121, 121, 121);
}
.userInfoCardWrapper {
  width: 80%;
  height: 50%;
  text-align: center;
  padding: 10px;
  box-shadow: 0 0 40px #241919 !important;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 25px !important;
  margin-top: 20px;
  display: flex !important;

  align-items: center !important;
  justify-content: center !important;
}

.editProfileForm {
  background-color: white;
  border-radius: 25px !important;
  box-shadow: 0 0 40px #241919 !important;
}

.userInfo {
  display: flex !important;

  align-items: center !important;
  justify-content: center !important;
}
