.MuiAppBar-root {
  background-color: #1d3557 !important;
}

.MuiAppBar-root div {
  justify-content: space-between;
}

.MuiAppBar-root a {
  text-decoration: none;
}

.navBarButtons span {
  font-weight: bold;
  color: azure;
}

button i {
  margin: 0 5px;
}

button svg {
  margin: 0 5px;
}

@media (max-width: 570px) {
  .navBarButtonLabels {
    display: none;
  }
  MuiAppBar-root div {
    justify-content: space-between;
  }
}
