.MuiAppBar-root {
  background-color: #1d3557 !important;
}

.MuiAppBar-root div {
  justify-content: space-between;
}

.MuiAppBar-root a {
  text-decoration: none;
}

button i {
  margin: 0 5px;
}

button svg {
  margin: 0 5px;
}
