.footerNav {
  background-color: rgba(255, 255, 255, 0) !important;
  color: azure !important;
}

.footerNav p {
  font-size: 20px !important;
  font-weight: bold !important;
  text-shadow: 0 0 10px black !important;
}

.footerLinks a {
  text-decoration: none !important;
  color: aqua;
  margin: 0 10px;
}

.footerLinks a:hover {
  color: #64dfdf !important;
  transition: color 250ms;
}

@media (max-width: 500px) {
  .footerNav p {
    font-size: 10px !important;
  }
}

@media (min-width: 500px) {
  .footerNav p {
    font-size: 16px !important;
  }
}

@media (min-width: 960px) {
  .footerNav p {
    font-size: 20px !important;
  }
}

@media (min-width: 1280px) {
  .footerNav p {
    font-size: 24px !important;
  }
}
