.articleDetail {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.commentsWrapper {
  display: flex;
  flex-direction: row;
  align-items: center !important;
  box-shadow: 0 0 20px #241919 !important;
  margin-bottom: 20px;
  margin-top: 30px;
  width: 80%;
  /* border: 1px solid black; */
  border-radius: 25px !important;
  width: 60% !important;
  justify-content: center !important;
}

.commentsBox {
  justify-content: center;
  align-items: center;
}
.createComments {
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
