body {
  background-image: url("https://res.cloudinary.com/djiluk8fd/image/upload/v1627584357/background-alt_ufohzh.jpg");
  backdrop-filter: blur(5px);
}

body::-webkit-scrollbar {
  display: none;
}
